<header class="navbar">

    <a routerLink="/" class="logo">
        <span class="logo-mark">
            AR
        </span>

        <span>
            Austin Robichaux
        </span>
    </a>

    <nav>

        <a routerLink="/experience">
            Experience
        </a>

        <a routerLink="/projects">
            Projects
        </a>

        <a routerLink="/games">
            Games
        </a>

        <a routerLink="/contact">
            Contact
        </a>
    </nav>

    <a routerLink="/resume" class="resume-link" >
        Resume
    </a>

</header>
